.section-input {         
    margin-bottom: 1.6rem;    

    .container {
        padding-top: 0rem;
        margin-bottom: 12rem;
        perspective: 1000px;

        @include respond(tab-land){
            margin: 0 8rem 8rem 8rem;
        }

        @include respond(phone){        
            margin: 0 3rem;
        }
    }
}

.links-container {
    width: 100%;
    height: 8rem;
    background-color: #fff;     
    border-radius: 5px;     

    @include respond(tab-port-2) {
        height: 16rem;
        overflow: hidden;
    }

    @include respond(phone) {
        height: 22rem;
        overflow: hidden;
    }

    &:not(:last-child){
        margin-bottom: 1.6rem;

        @include respond(phone) {
            margin-bottom: 3rem;
        }  
    }     

      
}

.links-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.8rem 3.2rem;    
    

    &:hover .link__delete-btn {
        width: 5.5rem;
    }

    @include respond(tab-port-2) {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    @include respond(phone) {
        align-items: flex-start;
        padding: 2rem;
    }    
}

.link {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.15px;
    text-decoration: none;  
    text-align: center;  

    @include respond(phone) {
        font-size: 2rem;
        line-height: 36px;
        letter-spacing: 0.12px;
    }

    &__input {
        margin-right: auto;
        color: $color-dark-blue;       
        
        @include respond(tab-port-2) {
            margin-right:0;
        }

        @include respond(phone) {            
            text-align: left;
            border-bottom: 1px solid rgba($color-violet,0.25);
            padding-bottom: 1rem;
            margin-bottom: 1.5rem;
        }
    }

    &__shorten {
        color: $color-primary--1;
        margin-right: 2.4rem;

        @include respond(tab-port-2) {
            margin-bottom: 1rem;
        }

        @include respond(phone) {
            margin-bottom: 1rem;
        }
    }

    &__btn {
        max-width: 10rem;
        text-decoration: none;
        text-align: center;
        border-radius: 5px;        
        padding: 1rem 3.1rem;
        font-size: 1.5rem;
        font-weight: 700;
        display: flex;
        flex-direction: row;
        justify-content: center;

        

        @include respond(phone) {
            display: block;
            font-size: 2rem;
            line-height: 24px;
            text-align: center;
            max-width: 100%;
            width: 100%;
        }
    }

    &__btn--copied {
        background-color: $color-primary--2;

        &:hover {
            background-color: $color-dark-violet;
        }
    }

    &__delete-btn {
        position: absolute;
        cursor: pointer;
        border: none;
        overflow: hidden;
        background-color: $color-primary--2;        
        border-radius: 5px;        
        width: 0;
        height: 5.5rem;
        left: 100%;
        transition: width 0.3s ease-out, background-color 0.2s;
        
        @include respond(tab-port-2) {            
            right: 0;    
            width: 5.5rem;            
            left: unset;
            background-color: transparent;
            margin: 1rem;      
            margin-top: -1rem;     
            transition: background-color 0.3s, fill 0.3s;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: $color-dark-violet;            
            width: 5.5rem;                  
            
            @include respond(tab-port-2) {
                background-color: $color-primary--2;   
                
                svg {
                    fill: white;
                }
            }
        }

        svg {
            width: 3rem;    
            height: 3rem;        
            display: block;
            margin: auto;
            fill: white;
            transition: fill .3s;

            @include respond(tab-port-2) {
                fill: $color-violet;
                width: 2rem;    
                height: 2rem; 
            }
        }
    }

    &__input,
    &__shorten,
    &__btn {
        &:focus ~ .link__delete-btn{
            width: 5.5rem;
        }
    }
}

.form {
    background-color: $color-primary--2;
    background-image: url('../images/bg-shorten-desktop.svg');
    padding: 5rem 6.5rem;
    border-radius: 10px;
    position: relative;
    transform: translateY(-50%);
    margin-bottom: -6rem;
    display: flex;
    z-index: 1000;
    perspective: 1000px;

    @include respond(tab-port-2) {
        flex-direction: column;        
    }

    @include respond(phone) {
        padding: 3rem;    
        margin-bottom: -8rem;    
    }

    &__input {
        padding: 1.4rem 3.4rem;
        flex: 1;
        margin-right: 2.5rem;
        border-radius: 10px;
        border: 3px solid transparent;
        background-color: #fff;
        font-size: 2rem;
        line-height: 3.6rem;
        color: $color-dark-blue;     
        
        @include respond(tab-port-2) {
            margin-right: 0;     
            margin-bottom: 3rem;      
        }

        &:focus {
            outline: none;            
        }  
    }

    &__button {
        padding: 1.8rem 4rem;
        display: inline-block;   
        margin-left: auto;
        font-size: 2rem;
        font-weight: 700;
        line-height: 3rem;     
        cursor: pointer;
        border-radius: 10px;
        border: none;

        @include respond(tab-port-2) {
            width: 100%;
        }
    }

    &__label {
        position: absolute;
        display: block;
        color: $color-secondary;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.8rem;
        letter-spacing: 0.1px;
        margin-top: 0.8rem;
        transform: translateY(2rem);
        visibility: hidden;
        opacity: 0;
        transition: all .2s;
    }   
    
    &__error &__label{
        visibility: visible;
        opacity: 1;
        transform: translateY(7rem);
    }

    &__error &__input {
        border: 3px solid $color-secondary;
        color: $color-secondary;

        &::placeholder {
            color: $color-secondary;
        }
    }
}